[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "~=2022.7"
humanize = "~=4.6"
matplotlib = "~=3.7"
numpy = "~=1.24"
httpx = "~=0.23"

[dev-packages]
black = "~=25.1"
flake8 = "~=6.0"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
