[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "~=2022.7"
humanize = "~=4.6"
matplotlib = "~=3.7"
numpy = "~=1.24"
httpx = "~=0.23"
pyyaml = "~=6.0"

[dev-packages]
black = "~=25.1"
flake8 = "~=6.0"
pytest = "~=8.3"
pytest-asyncio = "~=0.25"
pytest-cov = "~=6.0"
pytest-mock = "~=3.14"

[requires]
python_version = "3.11"
