[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# GitHub integration modules:
PyGithub = "~=1.58"
GitPython = "~=3.1"
# Markdown visualization modules:
pytz = "~=2022.7"
humanize = "~=4.6"
# Graphs drawing modules:
matplotlib = "~=3.7"
numpy = "~=1.24"
# Request making and response parsing modules:
httpx = "~=0.23"
pyyaml = "~=6.0"

[dev-packages]
# Codestyle checking modules:
black = "~=25.1"
flake8 = "~=6.0"
# Testing modules:
pytest = "~=8.3"
pytest-asyncio = "~=0.25"
pytest-cov = "~=6.0"
pytest-mock = "~=3.14"
# Pre-commit modules:
pre-commit = "*"
# Setuptools modules:
setuptools = "*"

[requires]
python_version = "3.13"
